body {

  background: #f00a0a;
background: linear-gradient(90deg, rgba(240, 10, 10, 1) 0%, rgba(37, 79, 6, 1) 100%, rgba(85, 255, 0, 1) 100%);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.card {
  background: linear-gradient(135deg, #c8102e, #006233);
  color: white;
  border-radius: 12px;
  padding: 16px;
  margin: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);

   }

/* CSS */
.back-button {
  background: linear-gradient(to bottom right, #35dd0b, #ff0000);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.logo {
  height: 80px;
  margin: 10px;
    filter: drop-shadow(0 0 5px #fff) brightness(1.2) contrast(1.1) saturate(1.5);
}

header, footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
}

main {
  padding: 20px;
}

#detailsPage {
  display: none;
  padding: 20px;
}

#detailsPage img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}
